body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

@font-face {
  font-family: 'Sinhala MN';
  src: url('SinhalaMN.ttf') format('truetype');
  font-display: swap;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "brothers-blessing beast"
    "lotus jellyfish"
    "tower motorcycle"
    "air-ballon graduation"
    "office wedding"
    "protest ."
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(58px, 68px) 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  gap: 10px;
  width: 97%;
  /* max-width: 800px; */
  height: 99%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "small-anchor small-anchor-2 logo small-anchor-3 small-anchor-4";
  background-color: #313131;
  color: #fff;
  font-family: Sinhala MN;
  font-weight: 200;
  font-size: 1.5rem;
  place-items: center;
}

.small-anchor-home {
  grid-area: small-anchor;
  font-size: clamp(12px, 1.6vw, 20px);
  color: #fff;
  text-decoration-line: none;
}

.small-anchor-about {
  grid-area: small-anchor-2;
  font-size: clamp(12px, 1.6vw, 20px);
  color: #fff;
  text-decoration-line: none;
}

.small-anchor-pricing {
  grid-area: small-anchor-3;
  font-size: clamp(12px, 1.6vw, 20px);
  color: #fff;
  text-decoration-line: none;
}

.small-anchor-more-photos {
  grid-area: small-anchor-4;
  font-size: clamp(12px, 1.6vw, 20px);
  color: #fff;
  text-decoration-line: none;
}

.logo-box {
  grid-area: logo;
}

.logo-img {
  max-width: 200px;
  max-height: 39px;
  padding-top: 5px;
}

.big-image-container {
  grid-area: brothers-blessing;
}

.big-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.big-image-grad {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.big-image-container-0 {
  grid-area: beast;
}

.big-image-container-1 {
  grid-area: lotus;
}

.big-image-container-2 {
  grid-area: jellyfish;
}

.big-image-container-3 {
  grid-area: tower;
}

.big-image-container-4 {
  grid-area: motorcycle;
}
.big-image-container-5 {
  grid-area: air-ballon;
}

.big-image-container-6 {
    grid-area: graduation;
  }
  .big-image-container-7 {
    grid-area: wedding;
  }
  .big-image-container-8 {
    grid-area: office;
  }
  
  .big-image-container-9 {
    grid-area: protest;
  }

.grid-footer {
  grid-area: footer;
  background-color: #313131;
  color: white;
  font-family: Sinhala MN;
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1000px) {
  .grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
     ". . . . . . . . ."
    ". . . . . . . . ."
    ". . CERN CERN CERN . drop-down . ."
    ". . CERN CERN CERN . drop-down . ."
    ". . CERN CERN CERN . drop-down . ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  }

  .dropbtn {
    background-color: #313131;
    color: white;
    padding: 5px;
    font-size: 32px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: grey;
  }

  .dropdown {
    grid-area: drop-down;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  .grid-header a:not(:has(img)) {
    /* display: none; Hide all anchor tags without an image */
  }

  .logo-box {
    grid-area: CERN;
    display: grid; /* Use grid to easily center the image */
    place-items: center; /* Center the image within the grid area */
  }
  
  .logo-img-small {
    width: 100%; /* Take up the full width of the grid area */
    height: 100%; /* Take up the full height of the grid area */
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh repeat(11, 1fr) 10vh;
    grid-template-areas: 
    "header"
    "brothers-blessing" 
    "beast"
    "lotus"
    "jellyfish"
    "tower" 
    "motorcycle"
    "air-ballon" 
    "graduation"
    "office"
    "wedding"
    "protest "
    "footer";
  }
  .grid-footer {
    font-size: 32px;
  }
}

